.navbar-static-top {
    background: #4b9001;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    color: #fff;
}

.alertify-logs > .show {
   	font-size: 16px;
}


.user_menu .nav {
    padding: 0;
}

.user_menu_active {
	display: block;
	color: #6AB43E;
	border: 1px solid #6ab43e;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

.user_menu .nav li a {
	font-size: 16px;
	color: #131212;
}
.user_menu .nav  {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}




.pagination > .active > span {
	background-color: #4b9001;
	border-color: #4b9001;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}

.pagination > .active:hover span {
	background-color: #ea410e;
	border-color: #ea410e;
}


/*user index*/

.user_table td a {
	color: #636b6f;
	text-decoration: none;
}

.user_table td span {
	font-size: 18px;
	color: #4B9001;
}





.user_support-contact {
	margin-top: 20px;
}

.user_support {
	padding: 10px;
}

.user_support .panel-heading {
	padding: 0 0 10px 0;
}

.user_support .container {
	padding-top: 20px;
}

.navbar-default {
    border-color: transparent;
}

@media only screen and (max-width : 768px) {
 	.user_menu .nav {
    	    -ms-flex-direction: column;
    	        flex-direction: column;
 	    -webkit-justify-content: space-around;
 	            justify-content: space-around;
	}
}

/* My Profil */

.profil .nav-tabs{
	padding: 21px 0 1px 50px;
}

.profil .nav-tabs a {
	color: #131212;
}

.profil .panel-heading {
	font-weight: bold;
	font-size: 16px;
}

.myProfil_tabs {
	padding: 50px;
	min-height: 750px;
	height: 100%;
}

.myProfil_tabs li {
	list-style: none;
	display: inline-block;
	margin: 0 3px 30px 3px;
}

.myProfil_tabs li a {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #c5c5c5;
	border-top: none;
	padding: 10px;
	color: #131212;
	font-size: 14px;
}

.myProfil_tabs__active {
	border: 1px solid #6ab43e;
	border-top: none;
	font-weight: bold;
}

.myProfil_tabs .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.myProfil_tabs .form-horizontal input{
	width: 100%;
}

.myProfilEdit .form-horizontal {
	padding: 50px;
}

/* orderWithHelp */
.orderWithHelp .form-horizontal {
	padding: 50px;
}

.orderWithHelp .panel_required {
	font-size: 14px;
	font-weight: normal;
}

.orderWithHelp .panel_required span {
	font-size: 18px;
	font-weight: bold;
	color: #ea410e;
}

.orderWithHelp .form-horizontal span {
	font-size: 18px;
	font-weight: bold;
	color: #ea410e;
}

/* testimonials */
.myProfileTestimonials .form-horizontal {
	padding: 50px;
}

/* orderSelf */
.orderSelf_titleBox {
	display: none;
}

.orderSelf_titleBox .panel-default {
	padding: 50px;
}

.orderSelf_hiddenBox {
	display: none;
}

.orderSelf_hiddenBox .row {
	margin-left: 0;
	margin-right: 0;
}

.orderSelf h2 {
	font-size: 18px;
	font-weight: bold;
}

.orderSelf p {
	font-size: 16px;
}

.orderSelf .panel_required {
	font-size: 14px;
	font-weight: normal;
}

.orderSelf .panel_required span {
	font-size: 18px;
	font-weight: bold;
	color: #ea410e;
}

.orderSelf .form-horizontal span {
	font-size: 18px;
	font-weight: bold;
	color: #ea410e;
}

.orderSelf_firstBlock,
.orderSelf_secondBlock {
	padding: 50px;
}

.orderSelf_secondBlock {
	padding: 60px 50px 50px 0;
}

.orderSelf_secondBlock h3 {
	font-size: 16px;
	font-weight: bold;
}

.orderSelf_secondBlock p {
	padding: 0;
}

.orderSelf_secondBlock b {
	color: #ea410e;
}

/* instruction */
.instruction p {
	padding: 50px 20px;
}


/**
 *Stripe
 */
.stripe {
	padding: 15px;
}

.stripe_payment {
	padding: 50px 15px;
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
}

 .stripe-button-el {
 	height: 150px;
 	max-width: 150px;
 	width: 100%;
 }

.stripe_payment .stripe-button-el span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 150px;
    line-height: 150px;
}


.stripe_history {
	padding: 15px;
	border: 1px solid #ddd;
}

.stripe_history p {
	padding: 5px 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	        border-radius: 4px;


}

.stripe_history p span {
	float: right;
	font-weight: bold;
}

.stripe_history_red {
	color: red;
}

.stripe_history_green {
	color: green;
}


.stripe_history .pagination {
    padding-left: 0;
    margin: 22px auto;
    border-radius: 4px;
}  


/*  userShowOrderWithHelp */
.allHelpOrder_acc {
	display: none;
}

.allHelpOrder_content {
	padding: 15px;
}

.allHelpOrder_content li {
	list-style: none;
	margin: 15px 0;
}

.allHelpOrder_top-botton {
	cursor: pointer;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	padding: 0 15px;
}

.allHelpOrder_top-botton h5 {
	font-size: 18px;
}

.allHelpOrder_status {
	float: right;
	color: #4b9001;
}

.allHelpOrder_status span {
	color: #ea410e;
}


.allHelpOrder_text {
	padding: 15px;
}

.allHelpOrder_text p {
	font-size: 16px;
}

.allHelpOrder_text p span {
	font-weight: bold;
}